extends layout

block content
  h1= title
  p Welcome to #{title}
  textarea
  select#select
    option
  button Submit
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/jquery.min.js")
  script(src="/javascripts/responsiveVoice.js")
  script.
    var socket = io();
    var voicelist = responsiveVoice.getVoices();
	
    console.log("voicelist: ",voicelist);

    voicelist.forEach(function(elem, index, array) {
      $( "select" ).append("<option>"+elem.name+"</option>");
    });

    $( "button" ).click(function() {
      socket.emit('voiceTest', {
        text: $( "textarea" ).val(),
        voice: $( "#select" ).val(),
      });
    });